In [ ]:
# 参考资料：https://docs.pingcode.com/ask/ask-ask/1168338.html

In [11]:
# 以 mysql-connector-python 为例
from mysql.connector import connect

conn = connect(
    host='localhost',
    port=6666,  # 默认MySQL端口为3306，请确认你的端口号
    user='root',
    password='root',
    database='test',
    charset='utf8mb4',  # 推荐使用 utf8mb4
    auth_plugin='mysql_native_password'  # 关键参数
)
print(conn)
create_table_query = """
CREATE TABLE employees (
    id INT AUTO_INCREMENT PRIMARY KEY,

    name VARCHAR(255) NOT NULL,

    department VARCHAR(255) NOT NULL,

    salary DECIMAL(10, 2) NOT NULL
)

"""
cursor = conn.cursor()
cursor.execute(create_table_query)

<mysql.connector.connection_cext.CMySQLConnection object at 0x1069e79d0>

In [25]:
from mysql.connector import connect

conn = connect(
    host='localhost',
    port=6666,  # 默认MySQL端口为3306，请确认你的端口号
    user='root',
    password='root',
    database='test',
    charset='utf8mb4',  # 推荐使用 utf8mb4
    auth_plugin='mysql_native_password'  # 关键参数
)
print(conn)
cursor = conn.cursor()
insertquery = "insert into employees (name,department,salary) values (%s,%s,%s)"
datas = [
    ('张三', 'IT', 5000),
    ('李四', '财务', 3000),
    ('王五', '销售', 4000),
    ('赵六', '市场', 3500),
    ('钱七', '人事', 4500),
    ('孙八', '行政', 2500),
    ('周九', '技术', 5500),
    ('吴十', '市场', 3500),
    ('郑十一', '人事', 4500),
    ('王十二','行政', 2500),
]
for data in datas:
    cursor.execute(insertquery,data)
cursor.executemany(insertquery,datas)
conn.commit()
conn.close()

<mysql.connector.connection_cext.CMySQLConnection object at 0x108928b90>

In [21]:
from mysql.connector import connect

conn = connect(
    host='localhost',
    port=6666,  # 默认MySQL端口为3306，请确认你的端口号
    user='root',
    password='root',
    database='test',
    charset='utf8mb4',  # 推荐使用 utf8mb4
    auth_plugin='mysql_native_password'  # 关键参数
)
print(conn)
cursor = conn.cursor()
query = "select * from employees"
aa = cursor.execute(query)
result = cursor.fetchall()
for row in result:
    print(row)

<mysql.connector.connection_cext.CMySQLConnection object at 0x10886bc50>
(1, '张三', 'IT', Decimal('5000.00'))
(2, '李四', '财务', Decimal('3000.00'))
(3, '王五', '销售', Decimal('4000.00'))
(4, '赵六', '市场', Decimal('3500.00'))
(5, '钱七', '人事', Decimal('4500.00'))
(6, '孙八', '行政', Decimal('2500.00'))
(7, '周九', '技术', Decimal('5500.00'))
(8, '吴十', '市场', Decimal('3500.00'))
(9, '郑十一', '人事', Decimal('4500.00'))
(10, '王十二', '行政', Decimal('2500.00'))

In [22]:
from mysql.connector import connect

conn = connect(
    host='localhost',
    port=6666,  # 默认MySQL端口为3306，请确认你的端口号
    user='root',
    password='root',
    database='test',
    charset='utf8mb4',  # 推荐使用 utf8mb4
    auth_plugin='mysql_native_password'  # 关键参数
)
print(conn)
cursor = conn.cursor()
update_query = "update employees set salary = %s where name = %s"
update_data = (1000000,'王十二')
cursor.execute(update_query,update_data)
conn.commit()
conn.close()
print(cursor.rowcount,'record(s) affected')

<mysql.connector.connection_cext.CMySQLConnection object at 0x10886bed0>
1 record(s) affected

In [24]:
from mysql.connector import connect

conn = connect(
    host='localhost',
    port=6666,  # 默认MySQL端口为3306，请确认你的端口号
    user='root',
    password='root',
    database='test',
    charset='utf8mb4',  # 推荐使用 utf8mb4
    auth_plugin='mysql_native_password'  # 关键参数
)
print(conn)
cursor = conn.cursor()
delete_query = "delete from employees where name = %s"
delete_data = ('周九',)
cursor.execute(delete_query,delete_data)
conn.commit()
conn.close()
print(cursor.rowcount,'record(s) affected')

<mysql.connector.connection_cext.CMySQLConnection object at 0x108928410>
1 record(s) affected